@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

html * {
    font-family: 'Roboto', sans-serif;
}

#logo{
    width: 17px;
    float: left;
    margin-right: 5px;
}

.glyphicon-star{
    color:gold;

}

.plusinfo{
    font-size: 20px;
}