<div class="container-fluid">
    <div class="jumbotron">
        <h1>Besoin d'allez quelque part?</h1>
        <div class="form-group">
            <div class="row">
                <div class="col col-lg-4 col-md-4 col-sm-6">
                    <input type="text" class="form-control" ng-model="$ctrl.ville" id="ville" placeholder="Quels est le nom de la ville souhaitée?">
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-6">
                    <input type="text" class="form-control" ng-model="$ctrl.query" placeholder="Qui, Quoi ? Sinon choisissez une catégorie.">
                </div>
                <div class="col col-lg-4 col-md-4 col-sm-12">
                    <button class="btn btn-danger" ng-click="$ctrl.lookUp()">Chercher</button>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="$ctrl.recArray && $ctrl.location" id="Loading">
        <span class="glyphicon glyphicon-refresh"></span>
    </div>
    <div ng-show="$ctrl.location">
        <h2>Recommendations pour la ville de <b>{{$ctrl.location}}</b> :</h2>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-2" ng-repeat="rec in $ctrl.recArray track by $index" ng-if="$ctrl.recArray.length>0">
            <div class="panel panel-default reco">
                <div class="panel-heading">
                    <h5>{{rec.venue.name}}</h5>
                </div>
                <div class="panel-body">
                    <div>
                        Note :
                        <span class="glyphicon glyphicon-star"></span>{{rec.venue.rating}}
                    </div>
                    <div>
                        Type : {{rec.venue.categories[0].shortName}}
                    </div>
                    <div class="address" ng-class="{ 'hidden': ! showDetails }">
                        <a href="http://maps.google.com/?q={{rec.venue.location.lat}},{{rec.venue.location.lng}}" target="_blank">
                            <div> {{rec.venue.location.formattedAddress[0]}}
                            </div>
                            <div> {{rec.venue.location.formattedAddress[1]}}
                            </div>
                        </a>
                    </div>
                    <div class="phone" ng-class="{ 'hidden': ! showDetails }">
                        <div> {{rec.venue.contact.formattedPhone}}
                        </div>
                    </div>
                    <div class="info">
                        <a href="" ng-click="showDetails = ! showDetails">
                            <span class="glyphicon glyphicon-collapse-down plusinfo" ng-class="{ 'hidden': showDetails }"></span>
                            <span class="glyphicon glyphicon-collapse-up plusinfo" ng-class="{ 'hidden': ! showDetails }"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="$ctrl.cityvenues">
        <h2>Resultat de votre recherche pour : {{$ctrl.location}}</h2>
    </div>
    <div ng-show="$ctrl.cityvenues.length == 0">
        <h4>Il n'y a aucun résultat avec les critères de votre recherche.</h4>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-3 col-lg-2" ng-repeat="res in $ctrl.cityvenues track by $index" ng-if="$ctrl.cityvenues.length>0">
            <div class="panel panel-default result">
                <div class="panel-heading">
                    <h5>{{res.name}}</h5>
                </div>
                <div class="panel-body">
                    <div>
                        Type : {{res.categories[0].shortName}}
                    </div>
                    <div class="address">
                        <a href="http://maps.google.com/?q={{rec.venue.location.lat}},{{rec.venue.location.lng}}" target="_blank">
                            <div> {{res.location.formattedAddress[0]}}
                            </div>
                            <div> {{res.location.formattedAddress[1]}}
                            </div>
                        </a>
                    </div>
                    <div class="phone">
                        <div> {{res.contact.formattedPhone}}
                        </div>
                    </div>
                    <div class="url">
                        <div>
                            <a href="{{res.url}}" target="_blank">{{res.url}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>